{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
		<meta name="keywords" content="偉勝, 偉勝環保, 偉勝金屬重量計算, 偉勝金屬, etc.">
		<meta name="description" content="偉勝金屬重量計算提供各式鋼材準確的重量計算">
		<meta name="robots" content="noindex,nofollow">
		<title>偉勝金屬重量計算器</title>

		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
    	<meta name="apple-mobile-web-app-status-bar-style" content="black">
    	<meta name="apple-mobile-web-app-title" content="偉勝金屬重量計算器">

		<link rel="stylesheet" href="{% static 'measurer/css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'measurer/css/custom.css' %}">
	</head>
	<body>
		<nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-primary">
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
			<div class="container">
				<a class="navbar-brand" href="{% url 'index' %}">偉勝金屬重量計算器</a>
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav">
						<a class="nav-item nav-link" href="{% url 'index' %}">計算重量</a>
						<a class="nav-item nav-link" href="" data-toggle="modal" data-target="#add-material-dialog">新增材料</a>
						<a class="nav-item nav-link" href="{% url 'display_material' %}">材料列表</a>
						<a class="nav-item nav-link" href="{% url 'admin:index' %}" target="_blank">後台管理</a>
					</div>
				</div>
			</div>
			
		</nav>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					{% block main_content %}
					{% endblock %}
				</div>
			</div>
		</div>
	
		<!-- 
		<button id="add-material-button" type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#add-material-dialog">+</button> 
		-->

		<div class="modal fade" id="add-material-dialog" tabindex="-1" role="dialog" aria-labelledby="dialog-label" aria-hidden="true">
			<form action="{% url 'add_material' %}" method="POST">
				{% csrf_token %}
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="dialog-label">新增材料</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<form>
								<div class="form-group">
									<label for="material-name" class="form-control-label">材料名稱</label>
									<input type="text" class="form-control" id="material-name" name="new_name">
								</div>
								<div class="form-group">
									<label for="material-density" class="form-control-label">材料比重 (g/cm3)</label>
									<input type="number" class="form-control" id="material-density" name="new_density" step="0.000001">
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
							<button type="submit" class="btn btn-primary">新增</button>
						</div>
					</div>
				</div>
			</form>
		</div>

		<script src="{% static 'measurer/js/jquery-3.2.1.min.js' %}"></script>
		<script src="{% static 'measurer/js/tether.min.js' %}"></script>
        <script src="{% static 'measurer/js/bootstrap.min.js' %}"></script>
	</body>
</html>