{% extends 'measurer/base.html' %}
{% load static %}

{% block main_content %}

<h4 style="margin: 20px 0;"><span class="badge badge-default custom-badge">1</span>選擇形狀</h4>
<div class="row" style="margin-left: -.95px;">
{% for shape in shapes %}
<a href="{{ shape.shape_name }}">
	<div class="card" style="width: 9.8rem; margin: 4px; border: 0;">
		{% static 'measurer/img/' as base_url %}
		<img class="card-img-top" src="{{ base_url }}{{ shape.shape_name }}.jpg" alt="Card image cap" style="width: 100%;">

		<div class="card-block" style="text-align: center;">
			<h5 class="card-title">{{ shape.shape_realname }}</h5>
		</div>
	</div>
</a>
{% endfor %}
</div>
{% endblock %}